<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="container" class="container">
    <header>
        <h1>Silas` PetShop</h1>
        <h2>We Care About Our Friends</h2>
    </header>
    <nav>
        <a href="/home">Home</a>
        <a href="/form">Contact</a>
        <a href="/shop">Shop</a>
        <a href="/signup">Log In & Sign Up</a>
       
    </nav>
    <main>
        
            <div id = "left">
            <section>
                <h4>About</h4>
                <p>We aim to find great families for our best friends! Please choose a friend to have in your family! Please do not forget, they only want your love..</p>
            </section>
            <section>
                <h4>Disclaimer</h4>
                <p>We do not aim to earn money from the endevaour. Our earnings will be completely spent on helping local animal shelters. We aim to reduce their spending by helping with veterinarian services, food and etc.</p>
            </section>
            </div>
         <aside><img width="300px" height="300px" src="https://jooinn.com/images/dog-67.jpg" alt="photo"></aside>
    </main>

    <footer>
         <div class="footerfollow">
            <h3>Follow Us</h3>
            <ul>
              <li><img height="15px" width="15px" src="https://binghamprospector.org/wp-content/uploads/2012/10/facebook-1024x1024.png" alt="">Facebook</li>
              <li><img height="15px" width="15px" src="https://brandlogos.net/wp-content/uploads/2023/07/x__twitter-logo_brandlogos.net_fxbde-300x300.png" alt="">Twitter</li>

            </ul>
          </div>

          <p class="copyright">Copyright &copy; 2024 Silas` PetShop</p>
    </footer>

</body>