<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Shop</title>
</head>
<body>
    <div class="containershop">
        <header>
            <h1>Shopping</h1>
            <div class="shopping">
                <i class="fa-solid fa-bag-shopping"></i>
                <span class="quantity">0</span>
            </div>
            <a href="/"><button style = "background-color:#efefef;" class = "cartButton">Home</button></a>
        </header>

        <div class="list"></div>
    </div>

    <div class="cart">
        <h1>Cart</h1>
        <ul class="listCart">

        </ul>
        <div class="checkOut">
            <div class="total">0</div>
            <div class="closeShopping">Close</div>
        </div>
    </div>

    <script src="/shop.js"></script>
</body>
</html>